<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>蓝源Eloan-P2P平台(系统管理平台)</title>

<!-- mune.html -->
<link rel="stylesheet" href="../../js/bootstrap-3.3.2-dist/css/bootstrap.css" type="text/css" />
<link rel="stylesheet" href="../../css/core.css" type="text/css" />
<script type="text/javascript" src="../../js/jquery/jquery-2.1.3.js"></script>
<script type="text/javascript" src="../../js/bootstrap-3.3.2-dist/js/bootstrap.js"></script>
<script type="text/javascript" src="../../js/jquery.bootstrap.min.js"></script>


<script type="text/javascript" src="../../js/plugins/jquery.form.js"></script>
<script type="text/javascript" src="../../js/plugins/jquery.twbsPagination.min.js"></script>
<script type="text/javascript" src="../../js/My97DatePicker/WdatePicker.js" ></script>

<script type="text/javascript">
	$(function() {
		$('#pagination').twbsPagination({
			totalPages : ${pageResult.totalPage},
			startPage : ${pageResult.currentPage},
			visiblePages : 5,
			first : "首页",
			prev : "上一页",
			next : "下一页",
			last : "最后一页",
			onPageClick : function(event, page) {
				$("#currentPage").val(page);
				$("#searchForm").submit();
			}
		});
		
		$("#query").click(function(){
			$("#currentPage").val(1);
			$("#searchForm").submit();
		})
		
		$(".auditClass").click(function(){
			$("#myModal").modal("show");
			var data=$(this).data("json");
			$("#myModal [name=id]").val(data.id);
			$("#myModal [name=username]").html(data.username);
			$("#myModal [name=title]").html(data.title);
			$("#myModal [name=bidRequestAmount]").html(data.bidRequestAmount);
			$("#myModal [name=currentRate]").html(data.currentRate);
			$("#myModal [name=monthes2Return]").html(data.monthes2Return);
			$("#myModal [name=totalRewardAmount]").html(data.totalRewardAmount);
		});
		
		$(".btn_audit").click(function(){
			var form=$("#editform");
			form.find("[name=state]").val($(this).val());
			$("#myModal").modal("hide");
			form.ajaxSubmit(function(data){
				if(data.success){
					$.messager.confirm("提示","审核成功!",function(){
						window.location.reload();
					});
				}
			});
			return false;
		})
	});
</script>
</head>
<body>
	<div class="container">
		
		<!-- top.html -->
		<div class="navbar cm-navbar">
	<img class="logo" alt="Brand" src="../../images/logo.png">
	<span class="pageTitle">&nbsp;</span>
	<ul class="nav navbar-nav navbar-right cm-navbar-nav">
		<li>
			<p class="navbar-text text-info">${logininfo.username}</p>
		</li>
		<li><a href="">安全退出</a></li>
		<li><a href="">个人设置</a></li>
	</ul>
</div>

		<div class="row">
			<div class="col-sm-3">
				<!-- <#assign currentMenu="bidrequest_audit2_list" /> -->
				
                <!-- menu.html -->
                <ul id="menu" class="list-group">
	<li class="list-group-item">
		<a href="#" data-toggle="collapse" data-target="#usermanage_detail"><span>用户管理</span></a>
		<ul class="in" id="usermanage_detail">
			<li class=""><a href="/real_auth_list.do">平台用户管理</a></li>
			<li class=""><a href="/recharge_offline_list.do">员工管理</a></li>
		</ul>
	</li>
	<li class="list-group-item">
		<a href="#" data-toggle="collapse" data-target="#permissionmanage_detail"><span>安全管理</span></a>
		<ul class="in" id="permissionmanage_detail">
			<li class="systemDictionary"><a href="/systemDictionary_list.do"><span>系统数据字典目录</span></a></li>
			<li class="systemDictionaryItem"><a href="/systemDictionaryItem_list.do"><span>系统数据字典明细</span></a></li>
			<li><a href="/permission_list.do"><span>权限管理</span></a></li>
			<li><a href="#"><span>角色管理</span></a></li>
			<li><a href="#"><span>菜单管理</span></a></li>
			<li class="ipLog"><a href="/ipLog.do"><span>登录历史</span></a></li>
		</ul>
	</li>
	<li class="list-group-item">
		<a href="#" data-toggle="collapse" data-target="#auditmanage_detail">
			<span>审核项目</span>
		</a>
		<ul class="in" id="auditmanage_detail">
			<li class="realAuth"><a href="/realAuth.do">实名认证审核</a></li>
			<li class="vedioAuth"><a href="/vedioAuth.do">视频认证审核</a></li>
			<li class="userFileAuth"><a href="/userFileAuth.do">认证材料审核</a></li>
			<li class="bidrequest_publishaudit_list"><a href="/bidrequest_publishaudit_list.do">发标前审核</a></li>
			<li class="bidrequest_audit1_list"><a href="/bidrequest_audit1_list.do">满标一审</a></li>
			<li class="bidrequest_audit2_list"><a href="/bidrequest_audit2_list.do">满标二审</a></li>
			<li class="rechargeOffline"><a href="/rechargeOffline.do">线下充值审核</a></li>
			<li class="moneyWithdraw"><a href="/moneyWithdraw.do">提现审核</a></li>
		</ul>
	</li>
	<li class="list-group-item">
		<a href="#" data-toggle="collapse" data-target="#systemmanage_detail">
			<span>平台管理</span>
		</a>
		<ul class="in" id="systemmanage_detail">
			<li class="companyBank"><a href="/companyBank_list.do">平台账号管理</a></li>
			<li><a href="/real_auth_list.do">系统账户流水</a></li>
			<li><a href="/bid_request_list.do"> <span>系统设置</span></a></li>
			<li><a href="/bid_request_list.do"> <span>企业资讯</span></a></li>
			<li><span><a href="#">友情链接</a></span></li>
			<li><span><a href="#">广告设置</a></span></li>
		</ul>
	</li>
</ul>

<!-- <#if currentMenu??>
<script type="text/javascript">
	$(".in li.${currentMenu}").addClass("active");
</script>
</#if> -->

			</div>
			<div class="col-sm-9">
				<div class="page-header">
					<h3>满标二审管理</h3>
				</div>
				<form id="searchForm" class="form-inline" method="post" action="/bidrequest_audit2_list.do">
					<input type="hidden" id="currentPage" name="currentPage" value=""/>
				</form>
				<div class="panel panel-default">
					<table class="table">
						<thead>
							<tr>
								<th>标题</th>
								<th>借款人</th>
								<th>发标时间</th>
								<th>借款金额(元)</th>
								<th>期限</th>
								<th>利率</th>
								<th>总利息</th>
								<th>状态</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
						<#list pageResult.listData as data>
							<tr>
								<td>
									<a target="_blank" href="/borrow_info.do?id=${data.id}">${data.title}</a>&emsp;<span class="label label-primary">信</span>
								</td>
								<td>${data.createUser.username}</td>
								<td>${(data.publishTime?string("yyyy-MM-dd HH:mm:SS"))!'未发布'}</td>
								<td>${data.bidRequestAmount}</td>
								<td>${data.monthes2Return}月</td>
								<td>${data.currentRate}%</td>
								<td>${data.totalRewardAmount}</td>
								<td>${data.bidRequestStateDisplay}</td>
								<td>
									<a href="javascript:void(-1);" class="auditClass" data-json='${data.jsonString}'>审核</a>
								</td>
							</tr>
						</#list>
						</tbody>
					</table>
					<div style="text-align: center;">
						<ul id="pagination" class="pagination"></ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
      	<form class="form-horizontal" id="editform" method="post" action="/bidrequest_audit2.do">
			<fieldset>
				<div id="legend" class="">
					<legend>满标二审</legend>
				</div>
				<input type="hidden" name="id" value="" />
				<input type="hidden" name="state" value="" /> 
				<div class="form-group">
		        	<label class="col-sm-2 control-label" for="title">标题</label>
		        	<div class="col-sm-6">
		        		<label class="form-control" name="title"></label>
		        	</div>
	        	</div>
	        	<div class="form-group">
		        	<label class="col-sm-2 control-label" for="username">借款人</label>
		        	<div class="col-sm-6">
		        		<label class="form-control" name="username"></label>
		        	</div>
	        	</div>
	        	<div class="form-group">
		        	<label class="col-sm-2 control-label" for="bidrequestAmount">借款金额(元)</label>
		        	<div class="col-sm-6">
		        		<label class="form-control" name="bidRequestAmount"></label>
		        	</div>
	        	</div>
	        	<div class="form-group">
		        	<label class="col-sm-2 control-label" for="monthes2Return">期限</label>
		        	<div class="col-sm-6">
		        		<label class="form-control" name="monthes2Return"></label>
		        	</div>
	        	</div>
	        	<div class="form-group">
		        	<label class="col-sm-2 control-label" for="currentRate">利率</label>
		        	<div class="col-sm-6">
		        		<label class="form-control" name="currentRate"></label>
		        	</div>
	        	</div>
	        	<div class="form-group">
		        	<label class="col-sm-2 control-label" for="totalRewardAmount">总利息</label>
		        	<div class="col-sm-6">
		        		<label class="form-control" name="totalRewardAmount"></label>
		        	</div>
	        	</div>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="name">审核备注</label>
		        	<div class="col-sm-6">
		        		<textarea name="remark" rows="4" cols="60"></textarea>
		        	</div>
				</div>
			</fieldset>
		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-success btn_audit" value="1">审核通过</button>
        <button type="button" class="btn btn-warning btn_audit" value="2">审核拒绝</button>
      </div>
    </div>
  </div>
</div>
</body>
</html>