<div class="container-foot-2">
	<div class="context">
		<div class="left">
			<p>版权所有：&emsp;杨狗科技有限公司</p>
			<p>地&emsp;&emsp;址：&emsp;湖南省长沙市岳麓区梅溪湖街道创新中心</p>
			<p>电&emsp;&emsp;话：&emsp;18374532149&emsp;&emsp;
			<P>邮&emsp;&emsp;箱：&emsp;18374532149.@163.com</p>
			<p>
				<a href="http://www.miitbeian.gov.cn" style="color: #ffffff">ICP备案
					：&emsp;湘ICP备字1504547</a>
			</p>
			<p>
				<a href="http://www.gzjd.gov.cn/wlaqjc/open/validateSite.do" style="color: #ffffff">穗公网安备：&emsp;44010650010086</a>
			</p>
		</div>
		<div class="right">
			<a target="_blank" href="http://weibo.com/ITxiaomage"><img
				src="../images/sina.png"></a>
		</div>
		<div class="clearfix"></div>
	</div>
</div>